HTML, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: black;
}

button, input {
    padding: 0em 0.3em;
    margin: 0 0.3em;
    font-size: 1em;
}

.top-container {
    /* position: fixed;
    top: 0;
    left: 0; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    height: 2.5rem;
    padding-right: 1rem;
}

.play-button, .stop-button {
    height: 1.5rem;
    align-items: center;
}

.stop-button {
    width: 24px;
}

.buttons {
    display: inline-flex;
    align-items: baseline;
    padding: 0.1em
}

#canvas {
    width: 100%;
    /* height: calc(100vh - 22.5rem); */
    height: 100vh;
}

audio {
    visibility: hidden;
    position: fixed;
    left: 10px;
    bottom: 10px;
    height: 60px;
    width: calc(100% - 20px);
}